$primary-background-color: #000000;
$primary-text-color: #FFFFFF;
$highlighted-link-text-color: #FFCB5E;
$tooltip-text-color: #F78EF7;
$ultra-text-color: #FFCB5E;
$legendary-text-color: #8270a2;
$rare-text-color: #007788;
$primary-label-color: #DACEF0;
$primary-button-color: #A18CC8;
$primary-font-family: 'Permanent Marker', cursive;
$padding-standard: 10px;
$padding-small: 5px;
$margin-standard: 10px;
$margin-small: 2px;