<div class="logged-out-container">
  <div class="logged-out-section">
    <a href="https://clementinesnightmare.io">
      <img src="<%= asset_path('logo.png') %>" alt="Clementine's Nightmare Logo" class="logo"/>
    </a>
  </div>
  <div class="logged-out-section">
    Connect to Ethereum.
  </div>
  <div class="logged-out-section">
    <button class="button login" />
  </div>
</div>
<%= render partial: 'sessions/new' %>