<%= turbo_stream.append "vault-nfts" do %>
    <% @page[:data].each do |nft| %>
      <%= render partial: 'wallet/nft', locals: { nft: nft, style_class: '' } %>
    <% end %>
<% end %>

<%= turbo_stream.update "wallet-pagination" do %>
  <%- if @page[:has_next_page] -%>
    <div class="next">
      <%= link_to 'More', vault_nfts_path(cursor: @page[:next_cursor]), data: { turbo_stream: true } %>
    </div>
  <%- end -%>
<% end %>
